# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/httpRequests/
.idea/vcs.xml
.idea/workspace.xml
admin-server/src/test/
admin-server/target/
config-server/src/test/
config-server/target/
eureka-server/src/test/
eureka-server/target/
zipkin-server/src/test/
zipkin-server/target/
zuul-server/src/test/
zuul-server/target/
